################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/excelParser/FileContentIndex/75b232a7-2016-48f5-af36-a8e791f0e9d5.vsidx
